{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "ShopifyShopDomain": "your-store.myshopify.com",
    "ShopifyAccessToken": "<your-admin-api-access-token>",
    "ShopifyApiVersion": "2025-01"
  }
}
