{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "TestRecipientEmailAddress": "bob@ibegroup.com",
    "SenderMailboxAddress": "sender@example.com",

    "IsLocalDebug": "true",
    "DebugRedirectAddress": "bob@ibegroup.com"
  }
}
