{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "TestRecipientEmailAddress": "developer@example.com",
    "SenderMailboxAddress": "sender@example.com"
  }
}
