{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "StripeWebhookSecret": "<your-webhook-endpoint-signing-secret, starts with whsec_>"
  }
}
